
.main{
    max-width: 1000px;
display: inline-block;
margin: 0%;
    text-align: center;
}
h1{
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.left{
float: left;
width: 50%;
}
.right{
    float: right;
    text-align: center;
    width: 50%;
}
img{
    width: 70%;
    border: 5px solid brown;
    margin: 4px;
    padding: 5px;
    border-radius: 50px;
}
